server.port=${PORT:5000}

spring.jpa.database=mysql
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL57InnoDBDialect
spring.datasource.url=jdbc:mysql://[host]:[port]/[db_name]
spring.datasource.username=[user]
spring.datasource.password=[password]

spring.jackson.serialization.indent_output=true

emergencyspotapi.jwt.access.token.validity=18000
emergencyspotapi.jwt.secret=[secret_key]
emergencyspotapi.jwt.token.prefix=Bearer\u0020
emergencyspotapi.jwt.header=Authorization
emergencyspotapi.jwt.authorities.key=scopes